{% extends 'base.html' %}

{% block title %}Cambiar Contraseña - Barbería{% endblock %}

{% block extra_styles %}
.container-form { background-color: #3a3a3a; padding: 30px; border-radius: 10px; max-width: 450px; margin: 0 auto; }
{% endblock %}

{% block content %}
<div class="container-form">
    <h3 class="mb-4">Cambiar Contraseña</h3>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <label class="form-label">{{ field.label }}</label>
            <input type="password" name="{{ field.html_name }}" class="form-control mb-2">
        {% endfor %}
        <button type="submit" class="btn btn-success w-100 mt-3">Cambiar contraseña</button>
    </form>
</div>
{% endblock %}